<h3 id="carName" data-id="{{ car.id}}">{{ car.carMake}}</h3>
<p>Model: {{ car.model}}</p>
<p>License plate: {{ car.licensePlate}}</p>
<p>Fuel: {{ car.fuel}}</p>
<p>Purchase year: {{ car.purchaseYear}}</p>
<p>Owner: {{ car.owner.name}}</p>
<p>Insurance: {{ car.insurance}}</p>
<p>Other: {{ car.other}}</p>
<a href="/cars/{{car._id}}/edit">Edit this car</a>
<br>
<a href="/cars">Go back to the list</a>

<div class="buttons-container">
  <button id="save" class="btn save">Save current location</button>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzm6wO-fMPB7-afq0yzoT8jNiboqGaIm0"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>